.reveal h1,
.reveal h2 {
    color: blue;
    text-align: left;
    font-size: 1.2em;
}
.reveal h3 {
    text-align: left;
    font-size: 1.0em;
}
.reveal body,
.reveal p {
    font-size: 0.8em;
    text-align: justify;
}
.reveal ul,
.reveal ol {
    font-size: 0.7em;
}
.reveal th,
.reveal td {
    font-size: 0.7em;
}
.reveal code {
	font-size: 0.8em;
}
